<div>

<div class="allContent">
<div class="well well-small well-success" style="margin-bottom:5px;margin-top:10px;">
   
  <div class="collectInputs">
  
  </div>
  
  <div class="collectInputs">
  
  </div>

  <div class="mbResults">
  
  </div>
        
	<div class="step step-processing" style="display:none;">    
	
		<center>
		<div id="warningGradientOuterBarG">
		<div id="warningGradientFrontBarG" class="warningGradientAnimationG">
		<div class="warningGradientBarLineG">
		</div>
		<div class="warningGradientBarLineG">
		</div>
		<div class="warningGradientBarLineG">
		</div>
		<div class="warningGradientBarLineG">
		</div>
		<div class="warningGradientBarLineG">
		</div>
		<div class="warningGradientBarLineG">
		</div>
		</div>
		</div>
		</center>
		
	 </div>
    

    
</div>
</div>

        
</div>