<div>

<div class="allContent">
    <div class="well well-small well-success" style="margin-bottom:5px;margin-top:10px;">
   
   <div class="step step-step1" style="">
   
    <h5 data-dojo-attach-point="nameNode" style="display: inline;"><span class="badge badge-inverse">1</span> Choose a  </h5> <!-- ${name}, -->
    
  <div class="btn-group">
    	
  <span class="btn dropdown-toggle" data-toggle="dropdown">
    Summary Level
    <span class="caret"></span>
  </span>
           <ul class="dropdown-menu">
	           	  
                  <li><a href="#" class="usesite">Site (User Defined)</a></li>
                  <li class="divider"></li>
                  
                  <li class="nav-header">Administrative Boundaries</li>
                  <li><a href="#" class="usepoly" rel=0>States and Provinces</a></li>
                  <li><a href="#" class="usepoly" rel=1>Counties and Census Divisions</a></li>
                  <li><a href="#" class="usepoly" rel=2>Townships and Census Subdivisions</a></li>

                  <li class="nav-header">Watershed Boundaries</li>
                  <li><a href="#" rel=3>Entire Great Lakes Basin</a></li>
                  <li><a href="#">Individual Great Lakes Basins</a></li>
                  <li><a href="#">Watersheds</a></li>
                  
                  <li class="nav-header">Planning Units</li>
                  <li><a href="#">Coastal Planning Units</a></li>

            </ul>
    </div>   
    </div>
    
   
   
    <div class="step step-step2site" style="display:none;"> 
    
    <div class="row"> <div class="span11">
     <h5 ><span class="badge badge-inverse">2</span> Next, Draw a polygon on the map.  Click once to start, click intermediate vertices, then double click to finish the sketch.  You may draw as many polygons as you wish (County size shapes will take seconds to process, State size polygons will take minutes).  When you are finished click "Submit" below. </h5> </div></div>
     
     <div class="row"> <div class="span11"><center> <a class="btn" href="#"><i class="icon-remove"></i> Cancel Sketch</a> <a class="btn" href="#"><i class="icon-arrow-left"></i> Return to Step 1</a> <a class="btn btn-primary submit-features" href="#"><i class="icon-ok icon-white"></i> Submit</a> </center></div></div>
     
    </div>
    
    
    <div class="step step-step2area" style="display:none;"> 
    
    <div class="row"> <div class="span11">
     <h5 ><span class="badge badge-inverse">2</span> Next, Choose the unit(s) you want to include.  You may click directly on the unit(s) you want to select on the map, or choose them from the drop down menu below.  When you have made the selection(s) you would like, click "Submit" below. </h5> </div></div>
     
     <div class="row"> <div class="span11"><center> <a class="btn" href="#"><i class="icon-remove"></i> Clear Selection</a> <a class="btn" href="#"><i class="icon-arrow-left"></i> Return to Step 1</a> <a class="btn btn-primary submit-features2" href="#"><i class="icon-ok icon-white"></i> Submit</a> </center></div></div>
     
    </div>
    
    
    
    <div class="step step-result" style="display:none;"> 
    
    <div class="row"> <div class="span11">
      <span class="badge badge-inverse">Results Report</span>
    </div></div>
    
   <div class="row"> 
    
    <div class="span3">
      <h5> Associated Layers <small> <br>Check to toggle visibility</small></h5> 
      <label class="checkbox inputareacheck"><input> Input Area </label>     
   
   <br>
   <br>
         <div class="alert alert-error fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Note:</strong> Darker color on each chart represents protected areas.
      </div>
      
      <div class="alert alert-info fade in modelResults" style="display:none;">
      Scores represent.... 5 is highest meaning the best habitat while 1 is lowest meaning poor habitat.
      </div>
      
      </div>
      

      
     <div class="span8 modelResults" style="display:none;">
     
<table border="0" style="width:100%;">
<tr>
<td style="width:60%;">     <h4>Land Cover Summary Chart </h4>  
     	<div class="LandCoverSummary"></div></td>
<td style="width:40%;">     <h4>Natural Land Cover Chart </h4> 
     	<div class="NaturalLandCoverChart"></div>
     	<!--<div id="legendTwo"></div> --></td>
</tr>
</table>
      	     
     </div>
     
     
     <div class="span8 habitatResults" style="display:none;">
<h4> Habitat Value Key </h4>     
<table class="table table-bordered" style="width:100%; background-color:#fff">
<tr>
<td colspan="1" class="warning"> <strong>Shorebird Values</strong> </td>
<td colspan="1" class="info"> <strong>Waterfowl Values</strong> </td>
<td colspan="1" class="error"> <strong>Landbird Values</strong> </td>
</tr>
<tr>
<td colspan="1"> 1 – Emergent wetlands<br>0.5 – Agricultural fields with hydric soils<br> 0.25 – Beach</td>
<td colspan="1"> 1 – Mixed emergent marsh adjacent to open water<br>0.75 – Emergent marsh or open water, not adjacent<br>0.25 – Palustrine forested wetlands or agricultural fields with hydric soils</td>
<td colspan="1"> 1 – Natural vegetated landcover<br>0.5 – Hay/pasture, palustrine wetlands, urban with high canopy cover</td>
</tr>
<tr>
<td colspan="3"> A value of <strong>0</strong> represents <i>other</i> areas (not suitable) in the tables an charts below.</td>

</tr>
</table>
      	     
     </div>     
     
     
     
   </div>
 
<div class="row habitatResults" style="display:none;"> 
    
    	<div class="span11" style="width:1130px">
    
    <table style="width:1130px">	
    	<tr>
<td style="width:33%;">     <h4>Shorebirds Habitat Summary Chart </h4> 
     	<div class="ShoreBirdHabitatSummary"></div></td>
<td style="width:33%;">     <h4>Waterfowl Habitat Summary Chart </h4> 
     	<div class="WaterBirdHabitatSummary"></div></td>
<td style="width:33%;">     <h4>Landbirds Habitat Summary Chart </h4> 
     	<div class="LandBirdHabitatSummary"></div></td>
</tr>

    </table>
    
   </div>

</div>

<div class="row modelResults" style="display:none;"> 
    
    	<div class="span11" style="width:1130px">
    
    <table style="width:1130px">	
    	<tr>
<td style="width:33%;">     <h4>Shorebirds Score Summary Chart </h4> 
     	<div class="ShoreBirdSummary"></div></td>
<td style="width:33%;">     <h4>Waterfowl Score Summary Chart </h4> 
     	<div class="WaterBirdSummary"></div></td>
<td style="width:33%;">     <h4>Landbirds Score Summary Chart </h4> 
     	<div class="LandBirdSummary"></div></td>
</tr>

    </table>
    
   </div>

</div>
    


<div class="row habitatResults" style="display:none;"> 
    
    	<div class="span11" style="width:1130px">

<table border="0" style="width:100%;">
<tr>
<td colspan="1" style="vertical-align:top;">
<table class="table table-bordered" style="width:100%; background-color:#fff;">
 <thead>
	<tr>
		<th colspan="1" class="tableCenter"></th>
		<th colspan="4" class="tableCenter warning">Shorebirds</th>
	</tr>
 </thead>

 <tbody class="smallerText">
	<tr>
		<td colspan="1" class="success">Value</td>
		
		<td colspan="1" class="tableCenter arealab warning">Area (Ha)</td>
		<td colspan="1" class="tableCenter warning">% of Total</td>
		<td colspan="1" class="tableCenter warning">Cumulative %</td>
		<td colspan="1" class="tableCenter warning">% Protected</td>
		
	</tr>

	<tr>
		<td colspan="1" class="tableCenter">1</td>
		
		<td colspan="1" class="tableCenter ShoreBirdSummaryHTable totarea"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryHTable poftotal"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryHTable cpercent"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryHTable percentp"></td>
		
	</tr>
	
	<tr>
		<td colspan="1" class="tableCenter">0.5</td>
		
		<td colspan="1" class="tableCenter ShoreBirdSummaryHTable totarea"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryHTable poftotal"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryHTable cpercent"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryHTable percentp"></td>

	</tr>

	<tr>
		<td colspan="1" class="tableCenter">0.25</td>
		
		<td colspan="1" class="tableCenter ShoreBirdSummaryHTable totarea"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryHTable poftotal"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryHTable cpercent"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryHTable percentp"></td>
		
	</tr>

	<tr>
		<td colspan="1" class="tableCenter">0</td>
		
		<td colspan="1" class="tableCenter ShoreBirdSummaryHTable totarea"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryHTable poftotal"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryHTable cpercent"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryHTable percentp"></td>
		
	</tr>
	
	
 </tbody>

</table>  
</td>
<td colspan="1" style="vertical-align:top;">
<table class="table table-bordered" style="width:100%; background-color:#fff;">
 <thead>
	<tr>
		<th colspan="1" class="tableCenter"></th>
		<th colspan="4" class="tableCenter info">Waterfowl</th>
	</tr>
 </thead>

 <tbody class="smallerText">
	<tr>
		<td colspan="1" class="success">Value</td>
		
		<td colspan="1" class="tableCenter arealab info">Area (Ha)</td>
		<td colspan="1" class="tableCenter info">% of Total</td>
		<td colspan="1" class="tableCenter info">Cumulative %</td>
		<td colspan="1" class="tableCenter info">% Protected</td>
		
	</tr>

	<tr>
		<td colspan="1" class="tableCenter">1</td>
		
		<td colspan="1" class="tableCenter WaterBirdSummaryHTable totarea"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryHTable poftotal"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryHTable cpercent"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryHTable percentp"></td>
		
	</tr>
	
	<tr>
		<td colspan="1" class="tableCenter">0.75</td>
		
		<td colspan="1" class="tableCenter WaterBirdSummaryHTable totarea"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryHTable poftotal"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryHTable cpercent"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryHTable percentp"></td>

	</tr>

	<tr>
		<td colspan="1" class="tableCenter">0.25</td>
		
		<td colspan="1" class="tableCenter WaterBirdSummaryHTable totarea"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryHTable poftotal"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryHTable cpercent"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryHTable percentp"></td>
		
	</tr>

	<tr>
		<td colspan="1" class="tableCenter">0</td>
		
		<td colspan="1" class="tableCenter WaterBirdSummaryHTable totarea"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryHTable poftotal"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryHTable cpercent"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryHTable percentp"></td>
		
	</tr>
	
	
 </tbody>

</table>   		

</td>
<td colspan="1" style="vertical-align:top;">
<table class="table table-bordered" style="width:100%; background-color:#fff;">
 <thead>
	<tr>
		<th colspan="1" class="tableCenter"></th>
		<th colspan="4" class="tableCenter error">Landbirds</th>
	</tr>
 </thead>

 <tbody class="smallerText">
	<tr>
		<td colspan="1" class="success">Value</td>
		
		<td colspan="1" class="tableCenter arealab error">Area (Ha)</td>
		<td colspan="1" class="tableCenter error">% of Total</td>
		<td colspan="1" class="tableCenter error">Cumulative %</td>
		<td colspan="1" class="tableCenter error">% Protected</td>
		
	</tr>

	<tr>
		<td colspan="1" class="tableCenter">1</td>
		
		<td colspan="1" class="tableCenter LandBirdSummaryHTable totarea"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryHTable poftotal"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryHTable cpercent"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryHTable percentp"></td>
		
	</tr>
	
	<tr>
		<td colspan="1" class="tableCenter">0.5</td>
		
		<td colspan="1" class="tableCenter LandBirdSummaryHTable totarea"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryHTable poftotal"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryHTable cpercent"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryHTable percentp"></td>

	</tr>

	<tr>
		<td colspan="1" class="tableCenter">0</td>
		
		<td colspan="1" class="tableCenter LandBirdSummaryHTable totarea"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryHTable poftotal"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryHTable cpercent"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryHTable percentp"></td>
		
	</tr>
	
	
 </tbody>

</table>   
</td>
</tr>
</table>		
    	
    </div>
    
</div>



<div class="row modelResults" style="display:none;"> 
    
    	<div class="span11" style="width:1130px">

<table class="table table-bordered" style="width:100%; background-color:#fff">
 <thead>
	<tr>
		<th colspan="1" class="tableCenter"></th>
		<th colspan="4" class="tableCenter warning">Shorebirds</th>
		<th colspan="4" class="tableCenter info">Waterfowl</th>
		<th colspan="4" class="tableCenter error"><center>Landbirds</center></th>
	</tr>
 </thead>

 <tbody class="smallerText">
	<tr>
		<td colspan="1" class="success">Score</td>
		
		<td colspan="1" class="tableCenter arealab warning">Area (Ha)</td>
		<td colspan="1" class="tableCenter warning">% of Total</td>
		<td colspan="1" class="tableCenter warning">Cumulative %</td>
		<td colspan="1" class="tableCenter warning">% Protected</td>
		
		<td colspan="1" class="tableCenter arealab info">Area (Ha)</td>
		<td colspan="1" class="tableCenter info">% of Total</td>
		<td colspan="1" class="tableCenter info">Cumulative %</td>
		<td colspan="1" class="tableCenter info">% Protected</td>
		
		<td colspan="1" class="tableCenter arealab error">Area (Ha)</td>
		<td colspan="1" class="tableCenter error">% of Total</td>
		<td colspan="1" class="tableCenter error">Cumulative %</td>
		<td colspan="1" class="tableCenter error">% Protected</td>
	</tr>

	<tr>
		<td colspan="1" class="tableCenter">5</td>
		
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable totarea"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable poftotal"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable cpercent"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable percentp"></td>
		
		<td colspan="1" class="tableCenter WaterBirdSummaryTable totarea"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryTable poftotal"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryTable cpercent"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryTable percentp"></td>
		
		<td colspan="1" class="tableCenter LandBirdSummaryTable totarea"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryTable poftotal"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryTable cpercent"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryTable percentp"></td>
	</tr>
	
	<tr>
		<td colspan="1" class="tableCenter">4</td>
		
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable totarea"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable poftotal"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable cpercent"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable percentp"></td>
		
		<td colspan="1" class="tableCenter WaterBirdSummaryTable totarea"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryTable poftotal"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryTable cpercent"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryTable percentp"></td>
		
		<td colspan="1" class="tableCenter LandBirdSummaryTable totarea"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryTable poftotal"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryTable cpercent"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryTable percentp"></td>
	</tr>

	<tr>
		<td colspan="1" class="tableCenter">3</td>
		
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable totarea"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable poftotal"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable cpercent"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable percentp"></td>
		
		<td colspan="1" class="tableCenter WaterBirdSummaryTable totarea"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryTable poftotal"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryTable cpercent"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryTable percentp"></td>
		
		<td colspan="1" class="tableCenter LandBirdSummaryTable totarea"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryTable poftotal"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryTable cpercent"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryTable percentp"></td>
	</tr>

	<tr>
		<td colspan="1" class="tableCenter">2</td>
		
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable totarea"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable poftotal"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable cpercent"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable percentp"></td>
		
		<td colspan="1" class="tableCenter WaterBirdSummaryTable totarea"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryTable poftotal"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryTable cpercent"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryTable percentp"></td>
		
		<td colspan="1" class="tableCenter LandBirdSummaryTable totarea"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryTable poftotal"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryTable cpercent"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryTable percentp"></td>
	</tr>

	<tr>
		<td colspan="1" class="tableCenter">1</td>
		
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable totarea"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable poftotal"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable cpercent"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable percentp"></td>
		
		<td colspan="1" class="tableCenter WaterBirdSummaryTable totarea"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryTable poftotal"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryTable cpercent"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryTable percentp"></td>
		
		<td colspan="1" class="tableCenter LandBirdSummaryTable totarea"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryTable poftotal"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryTable cpercent"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryTable percentp"></td>
	</tr>	
	
	<tr>
		<td colspan="1" class="tableCenter">0</td>
		
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable totarea"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable poftotal"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable cpercent"></td>
		<td colspan="1" class="tableCenter ShoreBirdSummaryTable percentp"></td>
		
		<td colspan="1" class="tableCenter WaterBirdSummaryTable totarea"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryTable poftotal"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryTable cpercent"></td>
		<td colspan="1" class="tableCenter WaterBirdSummaryTable percentp"></td>
		
		<td colspan="1" class="tableCenter LandBirdSummaryTable totarea"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryTable poftotal"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryTable cpercent"></td>
		<td colspan="1" class="tableCenter LandBirdSummaryTable percentp"></td>
	</tr>	
	
	
 </tbody>

</table>   	
    	
</div>
    
</div>

    </div>
    
 <div class="step step-processing" style="display:none;">    

<center>
<div id="warningGradientOuterBarG">
<div id="warningGradientFrontBarG" class="warningGradientAnimationG">
<div class="warningGradientBarLineG">
</div>
<div class="warningGradientBarLineG">
</div>
<div class="warningGradientBarLineG">
</div>
<div class="warningGradientBarLineG">
</div>
<div class="warningGradientBarLineG">
</div>
<div class="warningGradientBarLineG">
</div>
</div>
</div>
</center>

 </div>
    
    
</div>
</div>




        
</div>