<div>
	<h4 style="display: inline;" class="tooltitle"> ${title} </h4>
	
<div class="btn-toolbar pull-right" style="margin-top:-4px" >
  <div class="btn-group">
 
    <a class="btn" href="#"><i class="icon-chevron-up"></i></a>
    <a class="btn" href="#"><i class="icon-chevron-down"></i></a>
 <!--   <a class="btn toolextent" href="#"><i class="icon-globe"></i></a>   -->
    <a class="btn minimize" href="#"><i class="icon-minus"></i></a>
    <a class="btn closeit" href="#"><i class="icon-remove"></i></a>
  </div>
</div>

        
</div>